	h1{
		margin-top: -10px;
		text-align: center;
		background-color: black;
		color:#39E636;
		margin-right: -8px;
		margin-left: -8px;
		font-size: 40px;
	}
	h2{
		background-color: #BDBDBDBD;
		text-align: center;
		font-size: 40px;
		border-radius: 30px;
	}

	div{
		text-align: center;
		font-size: 30px;

	}

	p{
		text-align: center;
	}

	button{
		font-size: 30px;
		border-radius: 30px;
	}
	body{
		background-color: gray;
	}
	#perguntasI{
		display: none;
	}
	#Qua{
		display: none;
	}
	#ms{
	}
	#quartil{
		display: none;
	}
	#kintil{
		display: none;
	}
	#decil{
		display: none;
	}
	#porcentil{
		display: none;
	}
	#saidas{
		display: none;
	}